<div class="container">
  <div class="row">
   
        <div class="col-md-4 ">
            <div class="card-counter danger ">
            <i class="fa fa-star"></i>
            <span class="count-numbers">599</span>
            <span class="count-name">New Appointments</span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-counter success">
            <i class="fa fa-th-list"></i>
            <span class="count-numbers">6875</span>
            <span class="count-name">Total Appointments</span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-counter info">
            <i class="fa fa-users"></i>
            <span class="count-numbers">35</span>
            <span class="count-name">Verified Users</span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-counter primary">
            <i class="fa fa-hourglass-start"></i>
            <span class="count-numbers">35</span>
            <span class="count-name">Pending Cases</span>
            </div>
        </div>
   
  </div>
</div>
