<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-md-8">
      <form [formGroup]="productForm" (submit)="saveProduct(productForm)" *ngIf="catList">
        <fieldset>
          <legend>
            <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add Product
          </legend>
          <br />

          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control  "
               
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter Product Name"
              formControlName="name"
              id="inputInvalid"
            />
            <small
              class="form-text text-muted err-msg"
              *ngIf="
                productForm.get('name').touched &&
                productForm.get('name').hasError('required')
              "
              >* product name is required </small
            >
          </div>
          <div class="form-group">
            <label for="name">Price</label>
            <input
              type="number"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Enter Product Price"
              formControlName="price"
            />
            <small
              class="form-text text-muted err-msg"
              *ngIf="
                productForm.get('price').touched &&
                productForm.get('price').hasError('required')
              "
              >* product price is required and only number should be entered</small
            >
          </div>

          <div class="form-group">
            <label for="exampleSelect1">Select Category</label>
            <select class="form-control" formControlName="category">
              <option value="" [selected] disabled>Select Category</option>
              <option *ngFor="let cat of catList" value="{{ cat._id }}">
                {{ cat.name }}
              </option>
            </select>
            <small
            
            class="form-text text-muted err-msg"
            *ngIf="
              productForm.get('category').touched &&
              productForm.get('category').hasError('required')
            "
            >* category is required</small
          >
          </div>

          <div class="form-group">
            <label for="exampleSelect1">Short Description</label>
            <textarea
              class="form-control"
              formControlName="description"
              id="exampleTextarea2"
              rows="3"
            ></textarea>
            <small
              id="fileHelp"
              class="form-text text-muted err-msg"
              *ngIf="
                productForm.get('description').touched &&
                productForm.get('description').hasError('required')
              "
              >* short description is required</small
            >
          </div>

          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input
              type="file"
              class="form-control-file"
              name="image"
              
              (change)="onFileSelected($event)"
            />
            <small id="fileHelp" class="form-text text-muted"
              >you can upload product image from here</small
            >
          </div>

          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  checked=""
                  formControlName="isAvailable"
                />
                Product is Available
              </label>
            </div>
          </fieldset>

          <button
         
            type="submit"
            class="btn btn-primary  mb-4"
            [disabled]="!productForm.valid"
          >
            Submit
          </button>
        </fieldset>
      </form>

      <div *ngIf="catList===undefined">
        <h3>No Category found to create product , Kindly create category first !</h3>
      </div>

          <!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-check-circle" aria-hidden="true"></i>Product Created</h5>
      </div>
      <div class="modal-body bg-success">
           <h4 [ngStyle]="{'color':'white'}">Product Created Successfuly</h4>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" [routerLink]="['/admin/add-product']" data-dismiss="modal">Close</a>
        
      </div>
    </div>
  </div>
</div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
