/* You can add global styles to this file, and also import other style files */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:white;
    
    
}


.fas{
    font-size: 30px;
    color: white;
}

.err-msg{
    color: red !important;
    font-weight: bolder !important;
}
.box-shade{
    box-shadow: 2px 2px 8px 3px  #888888;
}

.icon-size{
    font-size: 15px;
}

.appoint-number-color{
    
    text-shadow: 2px 3px 4px gray; 
    color: white;
    font-size:26px  !important;
    font-weight: bold !important;
}

.appointment_title{
    font-size: 30px !important;
}
