
<div class="container " [ngStyle]="{'margin-top':'95px'}">
    <div class="row">
      <!-- search item -->
      <div class="row ">
        <div class="col-lg-12">
          <form class="form-inline mt-3">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>     
          </form>
  
        </div>
      </div>
      <!-- search item end -->
      <!-- Product list -->
      <div class="row">
        <div class="col-lg-4">
          <div class="product-container">
            <a href="#"
              ><img width="250" height="250"
                src="http://images.frys.com/art/product/300x300/8891512.01.prod.jpg"
            /></a>
            <h4>Image Title</h4>
            <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i
            ><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i
            ><i class="fa fa-star-o fa-2x"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <div class="price">$999.99</div>
            <span style="text-decoration: line-through; color: red">$1,399.99</span>
            <!-- <hr /> -->
            <!-- <button class="btn btn-default btn-xs pull-right" type="button">
              <i class="fa fa-cart-arrow-down"></i> Add To Cart
            </button>
            <button class="btn btn-default btn-xs pull-left" type="button">
              <i class="fa fa-eye"></i> Details
            </button> -->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="product-container">
            <a href="#"
              ><img width="250" height="250"
                src="http://images.frys.com/art/product/300x300/8891512.01.prod.jpg"
            /></a>
            <h4>Image Title</h4>
            <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i
            ><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i
            ><i class="fa fa-star-o fa-2x"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <div class="price">$999.99</div>
            <span style="text-decoration: line-through; color: red">$1,399.99</span>
            <!-- <hr /> -->
            <!-- <button class="btn btn-default btn-xs pull-right" type="button">
              <i class="fa fa-cart-arrow-down"></i> Add To Cart
            </button>
            <button class="btn btn-default btn-xs pull-left" type="button">
              <i class="fa fa-eye"></i> Details
            </button> -->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="product-container">
            <a href="#"
              ><img width="250" height="250"
                src="http://images.frys.com/art/product/300x300/8891512.01.prod.jpg"
            /></a>
            <h4>Image Title</h4>
            <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i
            ><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i
            ><i class="fa fa-star-o fa-2x"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <div class="price">$999.99</div>
            <span style="text-decoration: line-through; color: red">$1,399.99</span>
            <!-- <hr /> -->
            <!-- <button class="btn btn-default btn-xs pull-right" type="button">
              <i class="fa fa-cart-arrow-down"></i> Add To Cart
            </button>
            <button class="btn btn-default btn-xs pull-left" type="button">
              <i class="fa fa-eye"></i> Details
            </button> -->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="product-container">
            <a href="#"
              ><img width="250" height="250"
                src="http://images.frys.com/art/product/300x300/8891512.01.prod.jpg"
            /></a>
            <h4>Image Title</h4>
            <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i
            ><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i
            ><i class="fa fa-star-o fa-2x"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <div class="price">$999.99</div>
            <span style="text-decoration: line-through; color: red">$1,399.99</span>
            <!-- <hr /> -->
            <!-- <button class="btn btn-default btn-xs pull-right" type="button">
              <i class="fa fa-cart-arrow-down"></i> Add To Cart
            </button>
            <button class="btn btn-default btn-xs pull-left" type="button">
              <i class="fa fa-eye"></i> Details
            </button> -->
          </div>
        </div>
      </div>
     
    </div>
  </div>
  